body {
	background-color: black;
	color: white;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
	height: 50vh;
	width: 25vw;
	margin: auto;
	background-color: hsl(0, 0%, 12%)
	border-radius: 4%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.link {
	width: 70%;
	height: 20px;
	background-color: hsl(0, 0%, 20%);
	border-radius: 3%;
	margin: 4px;
}

.link:hover {
	background-color: goldenrod;
	color: black;
}
