body {
	background-color: black;
	color: white;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
	height: 50vh;
	width: 15vw;
	background-color: hsl(0, 0%, 12%);
	border-radius: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

a {
	width: 100%;
	height: 40px;
	background-color: hsl(0, 0%, 20%);
	color: white;
	border-radius: 10px;
	margin: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

a:hover {
	background-color: goldenrod;
	text-decoration: none;
	color: black;
}
